@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Oneset";
  src: url(/public/assets/fonts/onest/TTF/OnestMedium1602-hint.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oneset";
  src: url(/public/assets/fonts/onest/TTF/OnestBold1602-hint.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Oneset";
  src: url(/public/assets/fonts/onest/TTF/OnestThin1602-hint.ttf);
  font-weight: 100;
  font-style: normal;
}
